@using System.Web.Optimization
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="example"></div>
@*<script src="@Url.Content("~/scripts/Index.jsx")" charset="UTF-8">*@
@Scripts.Render("~/bundles/body")
</script>
