@using System.Web.Optimization;
@{
//Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="example"></div>
<script type="text/babel">
    ReactDOM.render(
    <h2>Hej jag heter Gunnar</h2>, document.getElementById('example'));
</script>
